body {
    margin: 0;
    font-family: Arial;
    background: #0c0c0c;
    color: white;
    text-align: center;
}

.header {
    margin-top: 30px;
}

.logo {
    width: 160px;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}

.card {
    width: 180px;
    height: 260px;
    background: linear-gradient(135deg,#8b5cf6,#ec4899);
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 25px rgba(140,90,255,0.6);
}


.card:hover {
    transform: scale(1.1);
}

.overlay {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
}

.popup {
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:#111;
    padding:30px;
    border-radius:15px;
    width:300px;
}

.buttons button {
    margin:10px;
    padding:10px 20px;
    border:none;
    background:#8b5cf6;
    color:white;
    cursor:pointer;
}
